div.entryInList { color: #555555; /*font-size: 12px;*/}
div.entryInList div.left { float: left; width: 48px; }
div.entryInList div.right {float: left; }
div.entryInList div.clear {clear: both; }
div.entryInList div.left img { margin-left: 4px; margin:right:4px; }
div.entryInList div.right strong { display:block; }
div.entryInList div.right span {color: #999999; /*font-size: 10px;*/ display:block;}

div.entryModerationDetails { padding: 5px; color: #555555; /*font-size: 12px;*/ }
div.entryModerationDetails p { margin-top: 2px; }
div.entryModerationDetails strong { color: #030303; }
div.entryModerationDetails div.kalturaPlayer { text-align: center; }

div#updatingList { height: 100%; background-image: url('ajax-loader.gif'); background-repeat:no-repeat;	background-position: center center;	text-align: center;	padding: 5px; color: #555555; /*font-size: 12px; */}

div#emptyList, div#aboutPage { padding: 5px; color: #555555; /*font-size: 12px;*/ }

span#login-error { color: #ff2222; }

div#aboutPage strong {display:block; color: #030303; padding: 2px;}
div#aboutPage p {margin-top: 4px; margin-bottom:4px;}